@import './variables.scss';

// main fonts
body,
p,
div,
span:not([class*='fa']),
label,
input,
textarea,
a,
header,
footer,
iframe,
img,
li,
nav,
ul {
  font-family: $main_font_family !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span:not([class*='fa']),
h2 span:not([class*='fa']),
h3 span:not([class*='fa']),
h4 span:not([class*='fa']),
h5 span:not([class*='fa']),
h6 span:not([class*='fa']) {
  font-family: $headers_font_family !important;
}

body {
  color: $main-color;
  background-color: $body-color;
}

h1 {
  color: $main-color;
}
hr {
  border: 1px solid $grey_200 !important;
}


button {
  background-color: $content-color;
}
span {
  color: $secondary;
}
p {
  color: $content-color;
}