/*google fonts : 
    Poppins : for headers
    Open Sans : for everything else
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
/***************COLORS**************/
$white-color: #fff;
$orance-color: #ff741a;
$grey-color: #ccc;
$black: #000;
$dark-grey: #333;
$light-grey: #f5f6f8;
$border_grey: #999a9c;
$greyish_white: #f9f9f9;

$body-color: #ddd;
$main-color: #2c4b82;
$content-color: #15233d;
$secondary: #77787a;
$greysh_black: #333;
$sky_blue: #285cb9;
$common_blue: #1c3154;
$text_blue: #154394;
$grey_200: #b9babc;
$moon_stone: #34a4c2;
$silver_grey: #eeeff1;
$silver: #c4c4c4;
$disabled_grey: #6c757d;
$warning: #f2c94c;
$green: #10955e;
$shuttle_grey: #666769;
$Mystic: #D5D6D8;
/***************FONT SIZES**************/
$input-icons-size: 18px;

/******************FONT FAMILY*********************/
$main_font_family: 'Open Sans', sans-serif;
$headers_font_family: 'Poppins', sans-serif;
