@import '../../styles/variables.scss';

.slider-class {
    height: 200px;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;

    .images-container {
      width: calc(100% - 40px);
        display: flex;
        overflow-y: scroll;
        scroll-behavior: smooth;
        transition: scroll 0.3s ease-in-out;
    }

    .image {
        width: 200px;
        height: 200px;
        margin: 5px;
        border-radius: 8px;
    }

    .nav-btn {
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background-color: #c3c3c3;
        border-radius: 6px;
        height: 200px;
        width: 30px;
        margin: 5px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 2px solid #555555;
    }

    .image-container span {
        border-radius: 50%;
        padding: 0.5em;
        width: 30px;
        height: 30px;
        border: 2px solid red;
        color: red;
        position: absolute;
        top: 5px;
        right: 5px;
      }
      .image-container span:hover {
        cursor: pointer;
      }
      
      .image-container span::before {
        content: " ";
        position: absolute;
        display: block;
        background-color: red;
        width: 2px;
        left: 12px;
        top: 5px;
        bottom: 5px;
        transform: rotate(45deg);
      }
      .image-container span::after {
        content: " ";
        position: absolute;
        display: block;
        background-color: red;
        height: 2px;
        top:12px;
        left: 5px;
        right: 5px;
        transform: rotate(45deg);
      }

}